.navbar{
    height: 80px;
    .wrapper{
        display: flex;
        padding: 10px 30px;
        align-items: center;
        justify-content: space-between;


        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .left{
            display: flex;
            align-items: center;
            gap: 20px;

        }
        .right{
            display: flex;
            align-items: center;
            gap: 20px;

            .icons{
                display: flex;
                gap: 10px;
                cursor: pointer;
                color: #777;
            }
            
        }
        .center{
           font-size: 30px;
           letter-spacing: 2px;
        }
    }
}